@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
h2{
    margin-top: 4%;
}
.label{
    margin-right: 20%;
}
.labeld{
    margin-right: 22%;
}
.labelc{
    margin-right: 21%;
}
.labelp{
    margin-right: 19%;
}
.labelpa{
    margin-right: 15%;
}
.input{
    margin-bottom: 20px;
}

.bottom{
    size: 50;
}
.bottom:hover{
    color: blue
}