@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    font-size: 10px;
    --primary-color: #0E2737;
    --secondary-color: #1CC3B2;
    --text-nav-color: #ffffff;
    --hover-nav-color: #0EFFF1;
    --content-text-color: #9B9B9B;
}

.nav{
    background-color: var(--primary-color);
    height: 6.5rem;
    min-height: 6rem;
    width: 100%;
}
.nav .nav-container{
    display: flex;
    height: 100%;
    margin: 0 3rem;
}
a{
    color: var(--text-nav-color);
    text-decoration: none;
}
a:hover{
    color: var(--hover-nav-color);
}

.nav .nav-container h1{
    font-family: 'Inter', sans-serif;
    color: var(--text-nav-color);
    font-size:3rem;
    margin: auto 0;
}
.nav .nav-container ul{
    display: flex;
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-nav-color);
    display: flex;
    margin: auto 0;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.nav .nav-container ul .li{
    margin: 0 2.5rem 0 0;
    padding: 2rem 0;
}

.nav .nav-container div{
    display: flex;
    background-color: var(--secondary-color);
    margin: .7rem 0;
    border-radius: .8rem;
}
.nav .nav-container div li{
    padding: 1.2rem;
}
.nav .nav-container div li a:hover{
    color: var(--primary-color);
}

.middlebar{
    width: 1.3px;
    height: 27px;
    background-color: var(--text-nav-color);
    margin: auto .6rem;
}

.burguer{
    display: none;
    position: relative;
    z-index: 1;

    user-select: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
    border: none;
}
.burguer span{
    display: block;
    width: 3.3rem;
    height: .4rem;
    margin-bottom: .5rem;
    position: relative;

    background-color: var(--text-nav-color);
    border-radius: .6rem;
    z-index: 1;

    transform-origin: 0 0;
    transition: 0.4s;
}
.burguer:hover span:nth-child(2){
    transform: translateX(1rem);
    background-color: var(--secondary-color);
}

/*
    ?Sub nav styles
*/

.sub-nav{
    background-color: var(--primary-color);
}
.sub-nav div{
    display: flex;
    height: 7rem;
    margin: 0 10rem 0 3rem;
    justify-content: space-between;
    font-family: 'Inter',sans-serif;
    color: var(--text-nav-color);
}
.sub-nav div h2{
    font-size: 2.3rem;
    font-weight: 300;
    border-right: solid 1px #1CC3B2;
    padding-right: 2rem;
    padding-top: 1rem;
    margin: auto 0;
    height: 4rem;
}

.sub-nav div h3{
    margin: auto 0;
    font-size: 4rem;
    font-weight: 500;
}

/*
    ? Nav Mediaquerys
*/
@media screen and (max-width: 1100px){
    .burguer{
        display: block;
    }
    .nav-container ul .li{
        display: none;
    }
    .nav-container ul{
        padding-right: 3rem;
    }
}

@media screen and (max-width: 720px) {
    .nav-container{
        justify-content: space-between;
    }
    .nav-container ul{
        visibility: hidden;
        max-width: 0;
        margin: 0;
        padding: 0;
    }
    .nav-container ul div,
    .nav-container ul div li,
    .nav-container ul div li a,
    .nav-container ul div li span{
        max-width: 0;
        padding: 0;
        margin: 0;
    }
    .sub-nav{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    
    .nav .nav-container{
        margin: 0 1rem;
    }
    .nav-container ul div li a{
        display: none;
    }
    
}